* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* narbar part start */

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;

}

.imagepart {
    width: 60px;
    height: 20px;
}

.buttonone {
    padding: 6px;
}

/* navbar part end */



/* hero sections start */
.herosection {
    background-image: url(images/Hero-bg.png);
    background-repeat: none;
    display: flex;
    justify-content: center;
    padding: 20px;

}


.heroheader {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.imageparthero {
    display: flex;
    justify-content: center;
}

.herop {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

.buttonhero {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.buttonherofull {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}



/* why web development part start */


.fullweb {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    padding: 120px;
    margin-bottom: 30px;

}

.webtitle {
    text-align: center;


}

.webtitle h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.webtitle p {
    font-size: 20px;
}

.webone {
    border-radius: 16px;
    margin-top: 40px;
    padding: 60px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;


}

.webonehead {
    font-size: 35px;
    margin-bottom: 20px;
    color: #0D1321B3;
}

.webonep {
    font-size: 20px;
    margin-bottom: 40px;
    color: #0D1321B3;
}

.webonebutton {
    padding: 10px;
    font-size: 20px;

}

/* why web development part end */


/* part two */

.webtwo {
    border-radius: 16px;
    margin-top: 40px;
    padding: 60px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;

    margin-bottom: 80px;
    gap: 100px;


}



/* my insta part start */
.myins {
    text-align: center;
}

.myins h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.myins p {
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}


.videopart {

    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 50px;

}


.fulltarget {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    gap: 60px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.targetone {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 60px;
}

.target{
    text-align: center;
}


.targettwo {
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 60px;
}


.targetthree {
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 60px;
}


.fullnext{
    display: flex;
    gap: 40px;
    padding: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

.book{
    background-image: url(images//handshake.jpg);
    background-repeat: no-repeat;
    color: white;
    margin-left: 100px;

  
 


}